.header {
    background: #e1e1e1;
    padding: 20px 0;
    height: 40px;
    font-size: 40px;
    text-align: center;
}

footer {
    background: #666;
    color: black;
    font-size: 10px;
    line-height: 10px;
    height: 40px;
}
.button {
    background-color: #555555;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}
input[type=number] {
    text-align: center;
    width: 25%;
    padding: 12px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #555;
}
#user_response{
    font-size: 20px;
}